body {font-family: Open Sans}
header {background-image: url(../img/poster.jpg);height: 700px; background-size: cover; overflow: auto;}
.head-items h1 {text-transform: uppercase; font-weight: 800; font-size: 50px;  }
.head-items p {font-family: Courgette  ;font-size: 20px }
nav a {color: #fff ; text-transform:capitalize; }
nav a:hover {color: #c59d5f;}
.food-info  h2 {font-size: 40px; font-weight:800;font-family: Fjalla One ; }
.art-food p  { position: relative; text-transform: uppercase; font-style: italic; font-family: Courgette }
.art-food p::after 
{
    content: "";
    position: absolute;
    bottom: 50%;
    right: 23%;
    width:10%;
    height: 2px;
    background-color: #ddd;
}
.art-food p::before 
{
    content: "";
    position: absolute;
    bottom:50%;
    left: 23%;
    width: 10%;
    height: 2px;
    background-color: #ddd
}
.art-food button{ border: 2px solid #c59d5f ; text-transform: uppercase; border-radius: 10px;}
.art-food button:hover{color:#fff; background-color: #c59d5f;}
.mass-chef {
    background-image: url('../img/message-bg.jpg'); 
    position: relative;
}
.mass-chef img { position: absolute; bottom: 0%;}
.mass-chef h2 {font-size: 40px; font-weight:800; font-family: Fjalla One ;}

.mass-chef h5 
{font-family: 'Herr Von Muellerhoff', cursive;
 transform: rotate(335deg) ;
text-transform: capitalize;
font-style: italic;
font-weight: 300;
font-size: 50px;
}
.mass-chef p
{
font-size: 18px;
 font-weight: 200;
font-style: italic;

}
.our-chef h2 {font-size: 40px; font-weight:800; font-family: Fjalla One ;}
.our-chef h5  { position: relative; text-transform: uppercase; font-family: Courgette }
.our-chef h5::after 
{
    content: "";
    position: absolute;
    bottom: 50%;
    right: 23%;
    width:10%;
    height: 2px;
    background-color: #ddd;
}
.our-chef h5::before 
{
    content: "";
    position: absolute;
    bottom:50%;
    left: 23%;
    width: 10%;
    height: 2px;
    background-color: #ddd
}
.chef-card {position: relative;}
.layout
{
    position: absolute;
    width: 100%;
    height: 0;
    background-color: rgba(0,0,0,.7);
    top: 100%;
    right: 0;
    left: 0;
    overflow: hidden;
    transition: all 2s;
    
}

.chef-card:hover .layout {
    height: 100%;
    top: 0;
}

.social a{
    color: #fff;
    font-size: 18px;
}

.social a:hover{

    color:#c59d5f;
    font-size: 18px;
}

.carousel-indicators button {
    width: 15px!important;
    height: 15px!important;
    border-radius: 50%;
    background-color: #887373!important;
}
.mnue-items {background-image: url(../img/bg_4.jpg);}
.mnue-item {border: 2px solid #fff; border-radius: 20px; color: #fff;}
.mnue-item h2 {font-family: Fjalla One}
.mnue-item img {height: 45%;}
.last-news .title h1 {font-family:Fjalla One ; font-size: 40px; font-weight:800; }
.last-news .title p { position: relative; font-family: Courgette}

.last-news .title p::after 
{
    content: "";
    position: absolute;
    bottom: 50%;
    right: 30%;
    width:10%;
    height: 2px;
    background-color: #ddd;
}
.last-news .title p::before 
{
    content: "";
    position: absolute;
    bottom:50%;
    left: 30%;
    width: 10%;
    height: 2px;
    background-color: #ddd
}
.last-news .news {
    position: relative;
    border-radius: 10px;
 }
 .news img  { border-radius: 10px; border: solid 1px transparent;}
.last-news .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:rgba(0,0,0,.7) ;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 20%;
    padding-bottom: 150px;
    transition: all 2s;
   width: 100%;
   overflow: hidden;

}
.last-news .overlay h6 {padding-bottom: 130px; font-family: Courgette; text-transform: capitalize; }
.last-news .overlay h3 { font-family:Fjalla One ; text-transform: uppercase;}
.last-news:hover .overlay {height: 100%; }
.last-news .overlay i {margin-top: 30px;font-size: 40px;}
.last-news .overlay p {padding-bottom: 130px;}
.last-news .overlay p:hover {color: #c59d5f;}
.last-news .overlay h3:hover {color: #c59d5f;} 
.block { position: relative;}
.block .box {
    padding: 10px 30px;
    background-color: #c59d5f;
    color: #fff;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    position:absolute;
    bottom: -30px;
    left:20% ;
    right: 20%;
}
.app
{
    background-image: url(../img/bg_11.jpg);
    
}
.img-app img 
.info-app h2 {font-family:Fjalla  ; font-size: 40px; font-weight:800;}
.btn-app  button
{
    background-color: transparent;
    border: 2px solid #c59d5f;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    text-transform: uppercase;
}
.btn-app  button:hover {background-color: #c59d5f;}
.reservation h2 {font-family:Fjalla One ; font-size: 40px; font-weight:800; }
.reservation p { position: relative; font-family: Courgette}
.reservation p::after 
{
    content: "";
    position: absolute;
    bottom: 50%;
    right: 30%;
    width:10%;
    height: 2px;
    background-color: #ddd;
}
.reservation p::before 
 
{
    content: "";
    position: absolute;
    bottom:50%;
    left: 30%;
    width: 10%;
    height: 2px;
    background-color: #ddd
}
.reservation {background-image: url(../img/bg_8.jpg); color: #fff; overflow: auto; }



input {background-color: transparent; border: 1px solid #c59d5f;border-radius: 10px;}
textarea {background-color: transparent; border: 1px solid #c59d5f;border-radius: 10px}
